.welcomeCol {
    float: right;
    margin-top: .75%;
    width: 20%;
    border: solid 5px;
    padding: 20px;    
    color: white;
    background-color: rgba(120,156,63,0.7);
    word-wrap: break-word;
}

h1 {
    font-size: 200% !important;
  }

  