label {
    font-size: 150%;
    font-weight: bold;
    margin-right: 1%;
}


.logo {
    width: auto;
    height: auto;
    max-height: 160px;
    max-width: 98%;
}

.submitBtn {
    width: 33%;
    text-align: center;
    font-weight: bold;
    font-size: auto;
}

.form {
    margin-left: 1%;
    margin-right: 1%;
}

.demo-editor {
    background: white;
    border: black;
    border-radius: 4px;
}

.rdw-editor-toolbar {
    border-radius: 4px !important;
}

.textInput {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    border-radius: 4px;
    border: black;
}

.demo-wrapper {
    width: 100%;
    margin-top: 1%;
}

.tvSel {
    text-align: center;
}

.btnSubmit {
    text-align: center;
    margin-bottom: 50px;
}
.submitBtn {
    width: 50%;
}