label {
    font-size: 150%;
    font-weight: bold;
    margin-right: 1%;
}

.submitBtn {
    width: 250px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}

.form {
    margin-left: 1%;
}

.demo-editor {
    background: white;
    border: black;
    border-radius: 5px;
}

.rdw-editor-toolbar {
    border-radius: 5px !important;
}

.textInput {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.demo-wrapper {
    width: 50%;
    margin-top: 1%;
}