.bottom {
    float: left;
    margin-left: 1%;
    border: solid 5px;
    padding: 25px;  
    font-size: 600%;
    color: white;
    width: 95.5%;
    background-image: linear-gradient(rgba(120,156,63,0.7), rgba(120,156,63,0.7));
} 

/* Make it a marquee */
.marquee {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 50s linear infinite;
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 105em }
    100% { text-indent: -105em }
}

