.footer {
    float: left;
    margin-left: 0.5%;
    border: solid 5px;
    padding: 25px;  
    font-size: 3vw;
    color: white;
    width: 97.5%;
    background-color: rgba(120,156,63,0.7);
} 

/* Make it a marquee */
.Marquee {
    display:block;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    white-space: nowrap;
}

.MarqueeContent {
    display: inline-block;
}

